<footer class="l-row">
  <div class="l-column">
    &copy; {{"now"|date('Y')}}
  </div>
</footer>

<script src="{{site.theme.link}}/dist/js/main.js"></script>
<script src="{{site.theme.link}}/dist/js/pages/index.js"></script>
