<footer class="l-row">
  <div class="l-column">
    &copy; {{"now"|date('Y')}}
  </div>
</footer>

{% if environment() == 'development' %}

  <script data-main="src/js/script" src="{{site.theme.link}}/gemini/src/bower_components/requirejs/require.js"></script>

{% else %}

  <script src="{{site.theme.link}}/gemini/dist/js/script.js"></script>

{% endif %}
